# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/
.python-version

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm
.idea/
